@media only screen and (min-width: 768px ) {
  
  }

  .App {
    text-align: center;
  }
  .nav {
    font-size:larger;
    font-weight: 900;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    background: rgb(11, 37, 49);
    color: rgb(255, 255, 255);
    padding-left: 50px;
    height: 30px;
  }
  .nav-links {
    width: 50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 50px;
    gap: 40px;
  }
  .table {
   background-color:rgb(11, 37, 49) ; 
  }
  